/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.moveinleft {
  animation: moveInLeft 1s ease-out; }

.moveinright {
  animation: moveInRight 1s ease-out; }

.moveinbottom {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #30415d;
  color: #fff; }

img {
  max-width: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #30415d;
  color: #fff; }
  .btn--primary::after {
    background-color: #30415d; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #30415d;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #30415d;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #30415d;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.scenario-container {
  display: flex;
  flex-wrap: wrap; }

.scenario {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  flex: 0 32%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: auto; }
  .scenario__icon {
    width: 3rem;
    height: 3rem;
    fill: #4A5B77;
    margin-right: 1.5rem; }
  .scenario:hover {
    transform: translateY(-0.5rem) scale(1.03); }

.banner {
  height: 75vh;
  background-image: radial-gradient(circle at center, rgba(207, 103, 102, 0.8), rgba(48, 65, 93, 0.8)), url(../img/manor-house.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .banner {
      background-image: linear-gradient(to right bottom, rgba(74, 91, 119, 0.2), rgba(23, 40, 68, 0.9)), url(../img/manor-house.jpg); } }
  .banner__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.center {
  text-align: center; }

.heading-1 {
  color: #cedce3;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-size: 6rem; }
  .heading-1--main {
    display: block;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 2.5rem; }
  .heading-1--sub {
    display: block;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .8rem; }

.heading-2 {
  color: #426170;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2; }
  .heading-2--main {
    color: #cf6766;
    display: block;
    font-weight: 100; }
  .heading-2--sub {
    display: block;
    font-weight: 500; }

.heading-3 {
  color: #E98180;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2; }

.speciality {
  background-color: orangered; }
  .speciality__photo {
    height: 25rem;
    background-size: contain; }
  .speciality__img {
    height: 100%;
    width: auto; }

.generic-text {
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #30415d;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header-container {
  display: flex;
  justify-content: space-between; }

.header {
  background-color: #172844; }
  .header__logo-box {
    margin-left: 1rem; }
  .header__logoimg {
    width: 12rem;
    height: 4rem;
    fill: #fff; }

.header-nav {
  flex: 0 1 60%; }
  .header-nav ul {
    display: flex;
    justify-content: flex-end; }
  .header-nav li {
    display: flex;
    list-style: none;
    margin-right: 0.5rem; }
  .header-nav a {
    flex-grow: 1;
    padding: 1rem 1.6rem;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.3); }

/*




.header-container{
    position: relative;
}

.header{

    background-color: orangered;
    z-index: 100;

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__logo {
        height: 1.5rem;
        width: 3.5rem;
        fill: $indigo-dark;
    }

    &__logoimg{
        width : 150px;
        height : 60px;
        //fill: $indigo-lightest;
        fill: #fff;
        z-index: 10;
    }    

}
*/
.section-specialities {
  padding: 5rem 0;
  background-color: #cedce3; }

.section-scenarios {
  padding: 5rem 0;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap; }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #4A5B77, #172844); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
