@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideMenu {
  0% {
    opacity: 0;
    max-height: 0; }
  100% {
    opacity: 1;
    max-height: 100%; } }

.moveinleft {
  animation: moveInLeft 1s ease-out; }

.moveinright {
  animation: moveInRight 1s ease-out; }

.moveinbottom {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #30415d;
  color: #fff; }

img {
  max-width: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.light-shadow {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2.5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #30415d;
  color: #fff; }
  .btn--primary::after {
    background-color: #30415d; }

.btn--secondary {
  background-color: #cf6766;
  color: #30415d;
  display: block;
  margin: 8rem auto; }
  .btn--secondary::after {
    background-color: #cf6766; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #30415d;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #30415d;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #30415d;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.scenario-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #30415d; }

.scenario-heading-container {
  background-color: #333;
  transform: translateY(-50%); }

.scenario {
  background-color: #eee;
  padding: 1rem;
  color: currentColor;
  transition: all .5s ease;
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: 2px solid currentColor;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 75em) {
    .scenario {
      flex: 0 0 30%; } }
  @media only screen and (max-width: 37.5em) {
    .scenario {
      flex: 0 0 45%; } }
  .scenario__icon {
    width: 4rem;
    height: 6rem;
    fill: currentColor;
    margin-right: 1.5rem;
    display: inline-block; }
  .scenario:hover {
    transform: translateY(-0.2rem);
    color: #E98180;
    background-color: #eee;
    cursor: pointer; }

.scenario-heading {
  display: block;
  text-align: center;
  font-weight: 200;
  fill: currentColor; }

.banner {
  height: 70vh;
  position: relative;
  text-align: center; }
  .banner__text-box {
    display: inline-block;
    text-align: center;
    padding: 2rem;
    margin: 15vh 0;
    border: 2px solid white;
    border-radius: 25px; }

.center {
  text-align: center; }

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2.5rem;
  font-size: 4.5rem; }
  .heading-1--main {
    font-size: 7rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-1--main {
        font-size: 5.5rem;
        letter-spacing: 0.5rem; } }
  .heading-1--sub {
    font-size: 3rem;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 1.1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-1--sub {
        font-size: 2.5rem;
        letter-spacing: .2rem;
        font-weight: 300; } }

.heading-2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2; }
  .heading-2--main {
    display: block;
    font-weight: 100; }
    @media only screen and (max-width: 37.5em) {
      .heading-2--main {
        font-size: 3rem; } }
  .heading-2--sub {
    display: block;
    font-weight: 500; }

.heading-3 {
  color: #E98180;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2; }

.heading-4 {
  color: #fff;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.2; }

.form-separator-heading {
  display: block; }
  .form-separator-heading::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 100%;
    left: 0%;
    background-color: #fff; }

.speciality {
  background-color: white;
  padding: 2rem;
  /*
    & > div{
        padding: 2rem;
    }
*/ }
  .speciality__photo {
    background-size: cover;
    margin-bottom: 2rem; }
  .speciality__img {
    width: auto; }
  .speciality__content {
    text-align: justify;
    text-justify: inter-word; }

.specialities-container {
  display: flex; }
  .specialities-container > div {
    display: flex; }
  @media only screen and (max-width: 56.25em) {
    .specialities-container {
      display: block; }
      .specialities-container > div {
        display: flex; } }

.generic-text {
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333; }

.form-container {
  padding: 5rem 5rem;
  border: 2px solid white;
  border-radius: 25px; }

.floatright {
  float: right; }

.floatleft {
  float: left; }

.lastinput {
  margin-right: 0; }

.mr1rem {
  margin-right: 1.1rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: .5rem 1rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: inline-block;
  transition: all .3s; }
  .form__input--33 {
    width: 30%; }
    @media only screen and (max-width: 56.25em) {
      .form__input--33 {
        width: 100%; } }
  .form__input--50 {
    width: 45%; }
    @media only screen and (max-width: 56.25em) {
      .form__input--50 {
        width: 100%; } }
  .form__input--100 {
    display: block;
    width: 100%; }
  .form__input--select {
    background-color: rbga(#fff, 0.5);
    color: currentColor;
    font-family: inherit; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #30415d; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #B64E4D; }
  .form__input::-webkit-input-placeholder {
    color: #8eaebd; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #30415d;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #30415d;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.section {
  padding: 5rem 0; }
  .section--banner {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-smaller.jpg);
    background-blend-mode: multiply;
    background-size: cover; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
      .section--banner {
        background: rgba(0, 0, 0, 0.8), url(../img/banner-smaller-hi-dpi.jpg); } }
    @media only screen and (min-width: 56.25em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-small.jpg);
        background-size: cover; } }
    @media only screen and (min-resolution: 192dpi) and (min-width: 56.25em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 56.25em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-small-hi-dpi.jpg);
        background-size: cover; } }
    @media only screen and (min-width: 75em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-medium.jpg);
        background-size: cover; } }
    @media only screen and (min-resolution: 192dpi) and (min-width: 75em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 75em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-medium-hi-dpi.jpg);
        background-size: cover; } }
    @media only screen and (min-width: 112.5em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-large.jpg);
        background-size: cover; } }
    @media only screen and (min-resolution: 192dpi) and (min-width: 112.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 112.5em) {
      .section--banner {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-large-hi-dpi.jpg);
        background-size: cover; } }
  .section--specialities {
    background-color: #cedce3; }
  .section--scenarios {
    /*
        background-image: url(../img/usingtools.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */ }
  .section--navigation {
    height: 7rem;
    background: #30415d;
    font-size: 1.6rem; }
  .section--book {
    /*        padding: 15rem 0;
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    
        @include respond(tab-port) {
            padding: 10rem 0;
        }
            */ }

.footer {
  background-color: #333; }

.book {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    padding: 2rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.footer {
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0 1rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logoimg {
    width: 12rem;
    height: 4rem;
    fill: #fff;
    display: block;
    margin: 0 auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #8eaebd;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 90%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      width: 100%;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  background: #30415d;
  z-index: 20;
  border-bottom: 2px solid white; }

nav {
  float: right;
  z-index: 20; }
  nav ul {
    display: none;
    list-style: none;
    z-index: inherit;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative;
      z-index: inherit; }
      nav ul li a {
        display: block;
        padding: 0 2rem;
        line-height: 7rem;
        background: rgba(48, 65, 93, 0.8);
        color: #ffffff;
        text-decoration: none; }
        nav ul li a:hover, nav ul li a:active {
          background: #4A5B77;
          color: #ffffff; }
        nav ul li a:not(:only-child):after {
          padding-left: .4rem;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 19rem;
        z-index: inherit; }
        nav ul li ul li a {
          background: linear-gradient(to bottom, #4A5B77, #172844);
          padding: .5rem 1rem;
          line-height: 20px;
          animation: slideMenu .5s ease-out;
          animation-fill-mode: both;
          z-index: inherit; }

.nav-dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.15); }

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 7rem;
  width: 7rem; }

#nav-toggle {
  position: absolute;
  left: 1.8rem;
  top: 2.2rem;
  cursor: pointer;
  padding: 1rem 3.5rem 1.6rem 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: .1rem;
    height: .5rem;
    width: 3.5rem;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -1rem; }
  #nav-toggle span:after {
    bottom: -1rem; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(135deg); }
    #nav-toggle.active span:after {
      transform: rotate(-135deg); }

@media screen and (min-width: 49em) {
  .nav-list {
    display: block !important; } }

@media only screen and (max-width: 49em) {
  .nav-mobile {
    display: block; }
  nav {
    width: 100%;
    padding: 7rem 0 1.5rem; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 1.5rem;
          line-height: 2rem; }
          nav ul li a:not(:only-child):after {
            float: right;
            padding-right: .4rem;
            content: ' ▾'; }
        nav ul li ul li a {
          padding-left: 3rem; }
  .nav-dropdown {
    position: static; } }

.nav-container {
  max-width: 114rem;
  margin: 0 auto; }

.brand {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  /*
	position: absolute; 
	padding-left: 2rem;
	float: left; 
	line-height: $nav-height;
	text-transform: uppercase;
	font-size: $default-font-size; */ }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none; }
  .brand__img {
    width: 10rem;
    height: 5rem;
    fill: #fff;
    display: block;
    padding-right: 1rem;
    margin: 0 auto; }
  .brand__text {
    display: block;
    font-size: 2.0rem;
    line-height: 0.5;
    color: #fff;
    font-weight: 200;
    padding: 0;
    margin: 0; }
