// COLORS
$indigo:#30415d;
$indigo-light: lighten($indigo, 30%);
$indigo-dark: darken($indigo, 30%);
$indigo70l: lighten($indigo, 70%);

$color-primary:#30415d;
$color-primary-light: #4A5B77;
$color-primary-dark: #172844;



$crimson: #cf6766;
$crimson-light: #E98180;
$crimson-dark: #B64E4D;

$color-secondary: #cf6766;
$color-secondary-light: #E98180;
$color-secondary-dark: #B64E4D;

$blue: #8eaebd;
$blue-light: lighten($blue, 20%);
$blue-dark: darken($blue, 30%);

$color-tertiary: $blue;
$color-tertiary-light: $blue-light;
$color-tertiary-dark: $blue-dark;



$nblack: #301424;
$nblack-light: lighten($nblack, 10%);
$nblack-dark: darken($nblack, 10%);

$color4: $nblack;
$color4-light: $nblack-light;
$color4-dark: $nblack-dark;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//