// COLORS
$crimson: #cf6766;
$crimson-light: #E98180;
$crimson-dark: #B64E4D;

$indigo:#30415d;
$indigo-light: #4A5B77;
$indigo-dark: #172844;

$nblack: #301424;
$nblack-light: #4A2E3E;
$nblack-dark: #17000B;

$blue: #8eaebd;
$blue-light: #A8C8D7;
$blue-dark: #7595A4;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;