.site-header {
    height: 75vh;
/*    
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-dark, 0.9)),
    url(../img/manor-house.jpg);
*/
    background-image: 
    linear-gradient(
        to bottom,
        rgba($color-black, 0.4),
        rgba($color-black, 0.4)),        
    radial-gradient(
        circle at center,
        rgba($color-secondary-light, 0.4),
        rgba($color-primary-light, 0.8)),
    url(../img/manor-house.jpg);

    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    position: relative;
    

 

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
           only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.2),
            rgba($color-primary-dark, 0.9)),
        url(../img/manor-house.jpg);
    }


    &__logo-box {
        position: relative;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 1.5rem;
        width: 3.5rem;
        fill: $indigo-dark;
    }

    &__logoimg{
        width : 150px;
        height : 60px;
        //fill: $indigo-lightest;
        fill: $color-white;
    }
    
    &__text-box {
        @include absCenter;
        text-align: center;
    }
}