.header-container{
    display: flex;  
    justify-content: space-between;
    //align-items: center;
}

.header{
    background-color: $color-primary-dark;
    &__logo-box {
        margin-left: 1rem
    }

    &__logoimg{
        width : 12rem;
        height : 4rem;
        fill: #fff;
    }    

}



.header-nav{
    flex: 0 1 60%;
    
   ul{
       display: flex;
       justify-content: flex-end;       
   }

    li{
        display: flex;
        list-style: none;
        margin-right: 0.5rem;
        //flex-grow: 1;
    }

    a{
        flex-grow: 1;
        
        padding: 1rem 1.6rem;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        font-size: 1.6rem;
        background-color: rgba(white, 0.3);      
    }
}











/*




.header-container{
    position: relative;
}

.header{

    background-color: orangered;
    z-index: 100;

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__logo {
        height: 1.5rem;
        width: 3.5rem;
        fill: $indigo-dark;
    }

    &__logoimg{
        width : 150px;
        height : 60px;
        //fill: $indigo-lightest;
        fill: #fff;
        z-index: 10;
    }    

}
*/