.banner{
    height: 70vh;
    position: relative;
    text-align: center;
    //border-top: 2px solid white;

    
    &__text-box {

        display: inline-block;
        text-align: center;
        //background: rgba(black, 0.8);
        padding: 2rem;
        margin: 15vh 0;
        border: 2px solid white;
        border-radius: 25px;
        //display: inline;
        //@include absCenter;
    }

    
}


