.scenario-container{
}

.scenario {
    background-image: linear-gradient(to bottom, $color-tertiary-light, #fff);
    border-radius: 0.1rem 2rem;
    //font-size: 1.5rem;
    padding: 1rem 2rem;
    
    
    color: $color-primary;
    transition: all .5s ease;

    display: flex; 
    align-items: center; 
    margin-bottom: .5rem;
    margin-right: auto; 

    @include respond(tab-port) {
        display: block;
        width: 100% !important;
    }


    &__icon {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1.5rem;
        display: inline-block;
    }

    &:hover {
        transform: scale(1.01);
        background-image: linear-gradient(to top, $color-tertiary-light, #fff);
        cursor: pointer;
    }
}

.scenario-heading{
    font-size: 2.0rem;
    font-weight: 100;
    display: inline-block;
}