.speciality{
    background-color: lighten(white,20%);
    padding: 2rem;
/*
    & > div{
        padding: 2rem;
    }
*/
    &__photo{
        height: 25rem; 
        background-size: cover;
        margin-bottom: 2rem; 
    }

    &__img{
        min-height: 100%;
        width: auto;
    } 

    &__content{
        text-align: justify;
        text-justify: inter-word;
    }
}

.specialities-container{
    display: flex;

    & > div {
        display: flex;
        //flex-direction: column;
        
    }
        
}