.speciality{
    background-color: lighten(white,20%);
    
    &>div{
        padding: 2rem;
    }

    &__photo{
        height: 25rem; 
        background-size: contain;
           
    }

    &__img{
        height: 100%;
        width: auto;
    } 
    
}

.specialities-container{
    display: flex;

    & > div {
        display: flex;
    }
        
}