@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes slideMenu {
    0% {
        opacity: 0;
        max-height: 0
    }

    100% {
        opacity: 1;
        max-height: 100%
    }
}


.moveinleft { animation: moveInLeft 1s ease-out;}
.moveinright{ animation: moveInRight 1s ease-out;}
.moveinbottom{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}