.section{
    padding: 5rem 0;

    &--banner{
        //height: 65vh;
        background: linear-gradient(to top, $color-black-transparent, $color-black-transparent), url(../img/banner-smaller.jpg);
        background-blend-mode: multiply;
        background-size: cover;

        @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
        only screen and (-webkit-min-device-pixel-ratio: 2)  and (min-width: 37.5em) {
            background: rgba(black, 0.8),  
            url(../img/banner-smaller-hi-dpi.jpg);
        }
        
        
        
        @media only screen and (min-width: 56.25em) {
            background: linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-small.jpg);
            background-size: cover;
        }
        
        
        @media only screen and (min-resolution: 192dpi)  and (min-width: 56.25em), 
        only screen and (-webkit-min-device-pixel-ratio: 2)  and (min-width: 56.25em) {
            background: linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-small-hi-dpi.jpg);
            background-size: cover;
        }
        
        
        @media only screen and (min-width: 75em) {
            background: linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-medium.jpg);
            background-size: cover;
        }
        
        
        @media only screen and (min-resolution: 192dpi) and (min-width: 75em), 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 75em) {
            background: linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-medium-hi-dpi.jpg);
            background-size: cover;
        }
        
        
        @media only screen and (min-width: 112.5em) {
            background: linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-large.jpg);
            background-size: cover;
        }
        
        
        @media only screen and (min-resolution: 192dpi) and (min-width: 112.5em), 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 112.5em) {
            background:linear-gradient(to top, $color-black-transparent, $color-black-transparent),
            url(../img/banner-large-hi-dpi.jpg);
            background-size: cover;
        }        
    }

    &--specialities{
        background-color: $color-tertiary-light;
    }

    &--scenarios{
       // background-color: $color-grey-dark-3;
        /*
        background-image: url(../img/usingtools.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */
    }


    &--navigation {
        height: $nav-height;
        background: $nav-background;//rgba($nav-background, $nav-opacity);
        font-size: $default-font-size;
    }
    


}

.footer{
    background-color: $color-grey-dark-3;
}


